name: Zip Release

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    tags:
      - 'v*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Create clean Zip
        run: zip -r PlayerSpeech.zip . -x "README.md" ".gitignore" ".gitattributes" ".git/*" ".github/*"

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: PlayerSpeech.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
