name: Zip Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    permissions: 
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Create clean Zip
        run: zip -r PlayerSpeech.zip . -x "README.md" ".gitignore" ".gitattributes" ".git/*" ".github/*"

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: PlayerSpeech.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
